matlab/blackrock
matlab/testdata
matlab/labview
matlab/Tuning
matlab/LogProcess
matlab/mat_results
matlab/NPMK
matlab/worksheets
matlab/tmp
matlab/GLMwGUI
matlab/expts
matlab/tmp*

*.gif
*.eps
*.m~
*.adj
