matlab/blackrock
matlab/testdata
matlab/labview
matlab/Tuning
matlab/LogProcess
matlab/mat_results
matlab/NPMK
#matlab/worksheets
matlab/tmp
matlab/GLMwGUI
matlab/expts
matlab/tmp*
testdata
blackrock
labview
Tuning
LogProcess
NPMK
tmp
blackrock2
worksheets

*.gif
*.eps
*.m~
*.adj
*.mat
*.fig
*.csv
*.pdf
*.svg
*.jpg
*.png
*.mat
